@model IEnumerable<HotelReservationSystemModels.CheckIn>

@{
    ViewData["Title"] = "Check Out";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetails.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetails.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetails.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDetails.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDetails.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDetails.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            <td>
                @{
                    var parms = new Dictionary<string, string>
                                                                {
                                                                    { "id", item.Room.RoomNo.ToString() }
                                                                };
                }
                <a asp-action="CheckOut" asp-all-route-data="parms">CheckOut</a>
            </td>
        </tr>
}
    </tbody>
</table>
